@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared styles */
body{
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 2rem;
}
section{
    margin: 0 auto;
    margin-top: 130px;
    max-width: 1440px; 
}
.section-title{
    font-size: 2.8rem;
    font-weight: 600;
}
/* Shared styles */

/* navbar styles */
.navbar{
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.brand{
    font-size: 45px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
}
/* header styles */

/* banner styles */
.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.banner-title{
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}
/* banner styles */

/* team styles */
.team{
    gap: 4.5rem;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-text-container{
    max-width: 530px;
}
.design-3{
    color: #FF900E;
    font-weight: bold;
}
.design-2{
    font-weight: bold;
}
/* team styles */

/* features section styles */
.features{
    gap: 120px;
}
h3#features-title {
    border-left: 6px solid #FF900E;
    padding-left: 20px;
}
.features-card {
    padding: 1px 30px 30px 30px;
    margin-top: 35px;
    box-shadow: 0 2px 11px #99999959;
    border-radius: 8px;
}
h4.features-card-title {
    font-size: 20px;
    font-weight: 600;
}
button#features-btn span {
    font-size: 2.8rem;
}
button#features-btn {
    margin-left: -78px;
    margin-top: -78px;
}
.features-img img {
    width: 100%;
}
/* features section styles */

/* facts section styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 155px;
    margin: 100px 0 0 0;
}
.facts-card{
    width: 242px;
    margin: 0 auto;
    height: 242px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.facts-number{
    font-size: 2.8rem;
    margin: 10px 0 0 0 ;
}
.facts-name{
    color: #727272;
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0 0 0;
}
.facts-description{
    max-width: 542px;
}
/* facts section styles */

/* sponsors section styles */
.sponsor-info{
    margin: 10px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 154px;
    margin-top: 50px;
}
.sponsors-description{
    max-width: 542px;
    margin: 0 auto;
}
/* sponsors section styles */

/* footer section styles */
footer{
    background-color: #FFF4E7;
    max-width: 1440px;
    margin: 130px auto 150px;
    text-align: center;
    padding: 40px 0;
}
footer p{
    font-size: 1.25rem;
}
/* footer section styles */




@media screen and (max-width:576px) {
    .navbar , .nav-links, .team{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .team{
        flex-direction: column-reverse;
    }

    .facts-container, .sponsors-companies {
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }
     {
        grid-template-columns: repeat(1, 1fr);
    }
    .sponsors-companies img {
        margin: 0 auto;
    }
    .features{
        flex-direction: column;
    }
    button#features-btn {
        margin-left: 15%;
    }
}